@model Books
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.Partial("~/Views/Shared/_Navbar.cshtml")

<div class="container p-5">

    <div class="row">
        @* image *@
        <div class="col-3 img-ctr-detail" >
            <div class="m-3 rounded img-box">
                <div class="center">
                    <img class="img-detail" src="~/images/@Model.Image" alt="@Model.Title" />
                </div>
            </div>
        </div>
        @* text *@
        <div class="col-6 mt-3">
            <div>
                <div class="author-dtl">
                    <h4>@Model.Author</h4>
                </div>
                <div class="share-btn">
                
                </div>
            </div>
            <div class="title-dtl">
                <h4>@Model.Title</h4>
            </div>
            <nav class="flex column  pb-3">
                <a class="pr-4 a-dtl" href="#">Choose Book Format</a>
                <a class="pr-4 a-dtl" href="#">Book's Description</a>
                <a class="pr-4 a-dtl" href="#">Book's Detail</a>
            </nav>
            <div class="format-dtl pb-4">
                <p>Choose Provided Book's Format</p>
                <div class="row">

                    <div class="format-dtl-item ">
                        <button class="format-btn-dtl rounded-lg">
                            <div class="format-btn-dtl-inner rounded-lg ">
                                <p>SOFT COVER</p>
                                <span>Start From</span>
                                <h3>Rp. @Model.Price</h3>
                                <p class="text-decoration-line-through">Rp. @(Model.Price + 10000)</p>
                            </div>
                        </button>
                    </div>
                    
                </div>
            </div>
            <div class="desc-dtl">
                @Model.Description
            </div>
            <div class="detail-dtl pt-3">
                <h5>Detail</h5>
                <ul class="li-dtl">
                    <li class="li-item row">
                        <span class="col">Number of Pages
                            <p>200</p>
                        </span>
                        
                        <span class="col">Publisher
                            <p>JRamedia</p>
                        </span>
                       
                    </li>
                    <li class="li-item row">
                        <span class="col">
                            Publish Date
                            <p>18 Jan 2022</p>
                        </span>
                        
                        <span class="col">
                            Weight
                            <p>0.1 kg</p>
                        </span>
                        
                    </li>
                    <li class="li-item row">
                        <span class="col">
                            ISBN
                            <p>9786230029783</p>
                        </span>
                        
                        <span class="col">
                            Width
                            <p>12.0 cm</p>
                        </span>
                        
                    </li>
                    <li class="li-item row">
                        <span class="col">
                            Language
                            <p>English</p>
                        </span>

                            <span class="col">
                                Length
                            <p>18.0 cm</p>
                        </span>
                        
                    </li>
                </ul>
            </div>
        </di>
        @* other *@
        <div class="col-3">

        </div>
    </div>
</div>