@model Books
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.Partial("~/Views/Shared/_Navbar.cshtml")

<div class="container p-5">

    <div class="row">
        @* image *@
        <div class="col-3 img-ctr-detail" >
            <div class="m-3 rounded img-box">
                <div class="center">
                    <img class="img-detail" src="~/images/@Model.Image" alt="@Model.Title" />
                </div>
            </div>
        </div>
        @* text *@
        <div class="col-6 mt-3">
            <div>
                <div class="author-dtl d-flex justify-content-between">
                    <h4>@Model.Author</h4>
                    <div>
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <a asp-controller="Book" asp-action="UpdateBook" asp-route-id="@Model.Id" class="btn-prim p-2 rounded">Update</a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id" class="btn-lo p-2 rounded">Delete</a>
                    </div>
                </div>
                <div class="share-btn">
                
                </div>
            </div>
            <div class="title-dtl">
                <h4>@Model.Title</h4>
            </div>
            <nav class="flex column  pb-3">
                <a class="pr-4 a-dtl" href="#bookFormat">Choose Book Format</a>
                <a class="pr-4 a-dtl" href="#bookDesc">Book's Description</a>
                <a class="pr-4 a-dtl" href="#bookDetail">Book's Detail</a>
            </nav>
            <div class="format-dtl pb-4" id="bookFormat">
                <p>Choose Provided Book's Format</p>
                <div class="row">

                    <div class="format-dtl-item ">
                        <button class="format-btn-dtl rounded-lg">
                            <div class="format-btn-dtl-inner rounded-lg ">
                                <p>SOFT COVER</p>
                                <p>Start From</p>
                                <h4>Rp. @Model.Price</h4>
                                <p class="text-decoration-line-through fst-italic text-secondary">Rp. @(Model.Price + 10000)</p>
                            </div>
                        </button>
                    </div>
                    
                </div>
            </div>
            <div class="desc-dtl" id="bookDesc">
                @Model.Description
            </div>
            <div class="detail-dtl pt-3" id="bookDetail">
                <h5>Detail</h5>
                <ul class="li-dtl">
                    <li class="li-item row">
                        <span class="col">Number of Pages
                            <p>@Model.Pages</p>
                        </span>
                        <span class="col">Publisher
                            <p>@Model.Publisher</p>
                        </span>
                    </li>
                    <li class="li-item row">
                        <span class="col">Publish Date
                            <p>@Model.PublishDate</p>
                        </span>
                        <span class="col">Weight
                            <p>@Model.Weight kg</p>
                        </span>
                    </li>
                    <li class="li-item row">
                        <span class="col">Serial Number
                            <p>@Model.SerialNumber</p>
                        </span>
                        <span class="col">Width
                            <p>@Model.Width cm</p>
                        </span>
                    </li>
                    <li class="li-item row">
                        <span class="col">Language
                            <p>@Model.Langugae</p>
                        </span>
                        <span class="col">Length
                            <p>@Model.Length cm</p>
                        </span>
                    </li>
                </ul>
            </div>
        </di>
        @* other *@
        <div class="col-3">

        </div>
    </div>
</div>